<div class="jumbotron text-center">
  <h4 class="display-4">Congratulations. </h4>
  <p class="lead">Your order is successful on </p>
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="/orders/{{this.user._id}}" role="button">View Order Details</a>
</div>